<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Messages</title>

    <import value="/common-links"></import>
    <link rel="stylesheet" href="/styles/contact.messages.style.css">

</head>
<body>
    <import value="/header"></import>

    <div class="container">
        <div id="messages-container">
            {{#each initialialMessages}}
                <ul>
                    <li>
                        Name: {{firstName}} {{lastName}}
                    </li>
                </ul>
            {{else}}
                <span>No messages found!</span>
            {{/each}}
        </div>    
    </div>
    
</body>
</html>