<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>

  <import value="/common-links"></import>
  <!-- External and custom CSS specific to this page -->
  <link rel="stylesheet" href="/styles/data.css"> 

</head>
<body>

  <import value="/header"></import>

  <!-- Hero -->
  <div id="hero-background" class="hero-section" style="background-image: url('{{preloadImage}}');">
    <div class="mask">
      <div class="text-white">
       
      </div>
    </div>
  </div>
  <!-- Hero -->

  <import value="/footer"></import>

</body>
</html>