<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Email</title>

    <style>
        #verify-btn {
            padding: 0.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            background-color: rgb(85, 85, 170);
            border-radius: 10px;
            font-size: 1.2rem;
            border-style: none;
            color: rgb(240, 240, 240);
            cursor: pointer;
            text-decoration: none;
        }

        #verify-btn:hover {
            background-color: rgb(58, 58, 129);
        }
    </style>
</head>
<body>
    <img src="{{maxxLogoPath}}" />
    <h3>Thanks for joining Maxx Energy {{name}}!</h3>
    <p>Please click the following link to proceed with verifying your email address</p>
    <a id="verify-btn" href="{{verifyLink}}">
        Verify
    </a>
</body>
</html>