<div class="header-container">
  <header class="header-main">
    <nav class="header-nav">
      <a href="/index" class="brand-name">
        <img src="/images/maxx-logo.png" alt="Maxx Energy Logo" class="brand-logo">
      </a>
      <ul class="menu-list">
        {{#if isAdmin}}
          <li class="menu-item"></li>
            <a href="/admin" class="header-link menu-link">Administration</a>
          </li>
        {{/if}}
        <li class="menu-item">
          <a href="/about-us" class="header-link menu-link">About Us</a>
        </li>
        <li class="menu-item">
          <a href="/security" class="header-link menu-link">Security</a>
        </li>
        <li class="menu-item">
          <a href="/contact" class="header-link menu-link">Contact Us</a>
        </li>
        <li class="menu-item">
          <a href="/faq" class="header-link menu-link">FAQ</a>
        <li class="menu-item">
          <a href="/store" class="header-link menu-link">Store</a>
        </li>
        </li>
        <li class="menu-item">
          <a href="/user-profile" class="header-link menu-link">User Profile</a>
        </li>
        {{#if isLoggedIn}}
          <li class="menu-item">
            <a href="/logout" class="header-link menu-link">Log Out</a>
          </li>
        {{else}}
          <li class="menu-item">
            <a href="/login" class="header-link menu-link">Log In</a>
          </li>
        {{/if}}
      </ul>
      <div class="menu-toggle">
        <span class="toggle-bar"></span>
        <span class="toggle-bar"></span>
        <span class="toggle-bar"></span>
      </div>
    </nav>
  </header>
</div>
