body {
    font-family: "Times New Roman", sans-serif;
}
h1, h2, h3, p {
    font-family: "Times New Roman", sans-serif;
}
.hero{
font-size: 60px;
width: 60%;
margin: 0 auto;	   
}
.hero-p{
font-size: 24px;
width: 35%;
margin: 0 auto;	
padding-top: 30px;
}
  .middle{
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .what-we-offer{
  color: rgb(74, 154, 245);
  }
  .homepage-background {
  background-image: url('images/homepage.jpg'); 
  background-size: cover;  
  background-position: bottom center; 
  background-repeat: no-repeat; 
  height: 60vh; 
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; 
  text-align: center;
}
  .mission-column{
    background-color: rgb(74, 154, 245);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers horizontally */
    justify-content: center; /* Centers vertically */
    height: 200px; /* Ensure this is set to allow vertical centering */
}
  .mission-h{
  font-size: 22px;
  width: 80%;
  text-align: center;
  }
  .states{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
	padding-bottom: 20px;
  }
  .flex-row {
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 80%;
  justify-content: space-between;
}
.container{
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.background-container{
	background-color: #F3F2F3;
}
.fl-column{
  width: 45%;
}
.fl-column img{
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.fr-column{
  width: 45%;
  margin: 0 auto;
}
.fr-column img{
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.learn-more{
  border: none;
  background-color: rgb(74, 154, 245);
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 25px;
}
.learn-more:hover {
  background-color: rgb(44, 124, 215); 
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer; 
}


.flex-column{
      display: flex;
      align-items: center;
      flex-direction: column;
      margin:0;
}   
    .flex-row{
      display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 30px;
        justify-content: space-between;
        align-items: center;
        padding-left: 60;
        padding-right: 60px;
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
    .para-top{
      font-size: 20px;
      margin-top: 30px;
      border-top: 2px solid black; 
      width: 300px;
      font-family: Bradley Hand (cursive);
	  padding-top: 20px;
    }
    .para-bottom{
      font-size: 20px;
      margin-bottom: 20px;
      border-bottom: 4px solid black; 
      width: 300px;
      text-align: center;
      font-style: italic;
	  padding-bottom: 20px;	  
    }
    .pictures {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    max-width: 300px; 
    max-height: 300px; 
}
.learn-service a {
  color: rgb(74, 154, 245); 
  font-weight: bold; 
}

.learn-service a:hover {
  color: rgb(44, 124, 215); 
}