<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <div base-url=""></div>

    <import value="/common-links"></import>
    <link rel="stylesheet" href="/styles/shared.auth.style.css">
    <link rel="stylesheet" href="/styles/password.reset.style.css">
    <import value="form-links"></import>
    <script src="/js/password.reset.js"></script>

</head>
<body>
    <import value="/header"></import>

    <div class="outer-container">
        <div class="p-4 centered-container">
            {{#if isValid}}
                <h1>Password Reset</h1>
                <div class="form-group">
                    <label for="password-input">New Password</label>
                    <input id="password-input"
                            class="form-control input-fields" 
                            type="password"
                            placeholder="Enter a new password">
                    <div id="password-error" class="info-errors"></div>
                    <div id="show-password-check" class="form-group smaller-text">
                        <input type="checkbox" autocomplete="off" class="styled-checkbox" id="password-check">
                        <label class="form-check-label" for="password-check">Show Password</label>
                    </div>
                </div>
                <span id="invalid-token-msg" style="display: none; color: red; padding-bottom: 1rem;">Invalid token. May have expired.</span>
                <button id="bottom-button">Submit</button>
                <p id="bottom-privacy-notice">We work hard to ensure that your information is never leaked. Privacy is key here at Maxx Energy and we guarantee the utmost security.</p>
            {{else}}
                <h3>Invalid email token!</h3>
                <p id="invalid-text">The email verification token may have expired</p>
                <p id="invalid-text">
                    If you need a new token visit 
                    <a href="/request-password-reset">
                        Request Password Reset
                    </a>
                </p>
            {{/if}}
        </div>
    </div>
    
    <import value="/footer"></import>

</body>
</html>