<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Password Reset</title>

    <div base-url=""></div>
    <import value="/common-links"></import>
    <link rel="stylesheet" href="/styles/shared.auth.style.css">
    <link rel="stylesheet" href="/styles/request.password.reset.style.css">
    <script src="/js/request.password.reset.js"></script>
    <script src="/js/load.anim.code.js"></script>
    <script src="/js/form.utils.code.js"></script>
    <script src="/js/shared.auth.code.js"></script>

</head>
<body>
    <import value="/header"></import>

    <div class="outer-container">
        <div class="p-4 centered-container">
            <h1>Request Password Reset</h1>
            <div class="form-group pb-3">
                <label for="email-input">Email Address</label>
                <input id="email-input"
                        class="form-control input-fields" 
                        placeholder="youremail@example.com"
                        value="{{email}}">
                <div id="email-error" class="info-errors"></div>    
            </div>
            <button id="reset-button">Send Password Reset</button>
            <span id="success-span" style="display: none;">Success! Please check your email to reset.</span>
            <p id="bottom-privacy-notice">We work hard to ensure that your information is never leaked. Privacy is key here at Maxx Energy and we guarantee the utmost security.</p>
        </div>
    </div>

    <import value="/footer"></import>
</body>
</html>