.navbar {
  position: relative !important;
}

body {
  background-color: rgb(155, 153, 161) !important;
}

.outer-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.centered-container {
  background-color: white;
  font-size: 1.6rem;
  width: 90%;
  box-shadow: 1px 1px 5px rgba(0.5, 0.5, 0.5, 0.2);
  height: fit-content;
  margin-top: 10rem;
  margin-bottom: 10rem;;
}

.smaller-text {
  font-size: 1.2rem;
}

.bottom-btn {
  border-style: none;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 3px;
}

.info-errors {
  font-size: 1rem;
  color: var(--site-error-color);
}

#submit-btn {
  color: rgb(243, 243, 243);
  background-color: var(--site-blue-color);
}

#submit-btn:hover:not([disabled]) {
  filter: brightness(0.75);
}

.bottom-btn:hover:not([disabled]) {
  cursor: pointer;
}

#show-password-check {
  margin-top: 1.1rem;
}

#show-password-check input {
  opacity: 0;
  position: absolute;
}

/* See: https://www.youtube.com/watch?v=YyLzwR-iXtI */

#show-password-check label {
  display: flex;
}

#show-password-check label::before {
  content: '';
  width: 1.2rem;
  height: 1.2rem;
  min-width: 1.2rem;
  min-height: 1.2rem;
  border: 0.05rem solid gray;
  border-radius: 6px;
  margin-right: 0.4rem;
  transform: translateY(0.4rem);
}

#show-password-check input[type='checkbox']:checked + label::before {
  content: '\2713\0020';
  font-size: 0.8rem;
  width: 0;
  height: 0;
  background-color: var(--site-blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#show-password-check label:hover, input:hover {
  cursor: pointer;
}
