body {
  background-color: rgb(216, 216, 216);
}

.centered-container {
  background-color: white;
  font-size: 1.6rem;
  width: 90%;
}

.smaller-text {
  font-size: 1.2rem;
}

.bottom-btn {
  border-style: none;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 3px;
}

.info-errors {
  position: absolute;
  font-size: 1rem;
  color: red;
}

.bottom-container {
  flex-grow: 1;
}

.outer-container {
  display: flex;
  flex-direction: column;
}