<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
    <!-- Import common links -->
  <import value="/common-links"></import>

   <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="styles/store.style.css">

  <title>Store</title>
  <script src="js/store.code.js"></script>
</head>
<body>
  
<!-- Header -->
  <import value="/header"></import>


  <div class="store-header text-center mb-4 margin-top">
    <h1>Maxx Energy Store</h1>
    <h2 class="lead text-muted mt-3">Your one-stop shop for energy-efficient products that make your life more sustainable and cost-effective.</h2>
  </div>
  
  

<div class="container mt-5" id="js-store-container">
  <div class="row" id="js-store-row"></div>
</div>

<!-- Link to Cart Page -->
<div class="container mt-4">
  <a href="/cart" class="btn btn-primary margin-bottom">Go to Cart</a>
</div>

<!-- Header -->
  <import value="/footer"></import>


</body>
</html>
