/* Hero Section */
.hero-section {
  background-image: url('/images/about.png');
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-section .mask {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About Us Container */
.about-container {
  background-color: lightblue;
  padding: 3rem 0;
}

.about-container h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #333; 
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.about-container p {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  color: #555;
  line-height: 1.6; /* Improve readability */
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* Custom Container */
.custom-container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* About Images */
.about-images {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden; /* Ensure the image doesn't overflow the container */
  position: relative;
  aspect-ratio: 1 / 1; /* Ensure the container maintains a 1:1 aspect ratio */
}

.about-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.about-images img:hover {
  transform: scale(1.1); /* Slightly zoom in the image */
  cursor: pointer; /* Change the cursor to a pointer */
}

.wider-container {
  max-width: 80%; /* or any desired width */
}

/* Call-to-Action Container */
.cta-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 200px;
}

.cta-fl-column {
  min-width: 40%;
}

.cta-image {
  width: 100%;
  height: auto;
  object-fit: cover; 
  min-width: 100px;
  max-width: 600px;
  border-radius: 25px;
}

.cta-fr-column {
  min-width: 40%;
  margin: 0 auto;
  padding-left: 80px;
}

.who-we-are {
  line-height: 1.5;
}

.learn-more {
  border: none;
  background-color: rgb(74, 154, 245);
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 25px;
}
.learn-more:hover {
  background-color: rgb(44, 124, 215);
  cursor: pointer;
}

/* Tablets */
@media (min-width: 767px) and (max-width: 1330px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  
  .flex-row, .flex-row2 {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  
  .flex-row p, .flex-row2 p {
    flex-basis: calc(25% - 30px);
    text-align: center;
    margin-bottom: 10px;
  }
  
  .cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 80%;
  }
  
  .cta-fl-column, .cta-fr-column {
    min-width: 80%;
    margin: 0 auto;
  }
  
  .cta-image {
    margin: 0 auto;
    width: 100%;
    min-width: 600px; /* Ensure image size remains consistent */
    object-fit: cover;
    border-radius: 25px;
  }

  .cta-fr-column {
    margin-top: 20px;
    width: 100%;
    padding: 0 20px;
  }

  .learn-more {
    margin-top: 20px;
    width: 200px;
    background-color: rgb(74, 154, 245);
    color: white;
    border-radius: 10px;
    font-size: 20px;
  }
}

/* Smart phones */
@media (max-width: 767px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
  }

  .cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .cta-image {
    margin: 0 auto;
    width: 100%;
    min-width: 400px; /* Ensure image size remains consistent */
    object-fit: cover;
    border-radius: 25px;
  }

  .cta-fr-column {
    margin-top: 20px;
    width: 100%;
    padding: 0 20px;
  }

  .learn-more {
    margin-top: 20px;
    width: 200px;
    background-color: rgb(74, 154, 245);
    color: white;
    border-radius: 10px;
    font-size: 20px;
  }
}
