#messages-container {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.table {
  border: 1px solid #ddd;
}

.pagination-container {
  margin-bottom: 0px;
  border: 1px solid #ddd;
  border-bottom: 0px solid #ddd;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pagination-controls {
  width: 100%;
  display: flex;
  align-items: center;
}

.pagination-controls input {
  width: 3rem;
  text-align: center;
}

.pagination-controls button {
  width: 6rem;
  margin-right: 1rem;
  margin-left: 1rem;
  background-color: var(--site-blue-color);
  color: white;
}

.pagination-controls button:hover:not([disabled]) {
  filter: brightness(0.85);
}

#email-search-input {
  display: inline;
}

.better-checkbox {
  margin: 0;
}

.bx-trash {
  font-size: 1.5rem;
  color: gray;
}

.trash-can-delete:hover {
  cursor: pointer;
  color: red !important;
}

.confirm-popup-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

.confirm-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
  padding: 2rem;
}

.confirm-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.confirm-popup img {
  color: red;
}