:root {
  --site-blue-color: rgb(74, 154, 245);
  --site-orange-color: orange;
  --site-error-color: red;
  --site-color-darker-blue-color: rgb(63, 134, 216);
  --site-color-darker-orange-color: rgb(233, 151, 0);
}