body{
  padding-top: 120px;
  font-family: "Segoe UI", Arial, sans-serif;
}
.navbar {
  position: relative !important;
}
.contact-us-container{
  padding-bottom: 120px;
}
.success-text{
  color: green;
}
.contact-submit{
  background-color: var(--site-blue-color);
  color: white;
}