.centered-container {
  text-align: center !important;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  padding-left: 10rem !important;
  padding-right: 10rem !important;
  width: 70% !important;
}

#reset-button {
  margin-bottom: 15rem;
  border-style: none;
  color: white;
  background-color: var(--site-blue-color);
  border-radius: 10px;
  padding: 0.5rem;
}

#reset-button:hover {
  filter: brightness(0.85);
  cursor: pointer;
}

#email-input {
  margin-top: 1rem;
  width: 100%;
}

#bottom-privacy-notice {
  font-size: 1rem;
}

#success-span {
  position: absolute;
  margin-top: 3.8rem;
  font-size: 1.5rem;
  left: 0;
  width: 100%;
  color: rgb(0, 185, 0);
}