.navbar {
  position: relative !important;
}

body {
  background-color: rgb(155, 153, 161) !important;
}

.outer-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.centered-container {
  background-color: white;
  font-size: 1.6rem;
  width: 90%;
  box-shadow: 1px 1px 5px rgba(0.5, 0.5, 0.5, 0.2);
  height: fit-content;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.smaller-text {
  font-size: 1.2rem;
}

.bottom-btn {
  border-style: none;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 3px;
}

.info-errors {
  font-size: 1rem;
  color: var(--site-error-color);
}

#submit-btn {
  color: rgb(243, 243, 243);
  background-color: var(--site-blue-color);
}

#submit-btn:hover:not([disabled]) {
  filter: brightness(0.75);
}

.bottom-btn:hover:not([disabled]) {
  cursor: pointer;
}

/* Select picker */

.select-with-search {
  width: 100% !important;
}

.select-with-search div {
  width: 100% !important;
}

.select-with-search button {
  border: 1px solid rgb(207, 207, 207);
  display: block;
  width: 100% !important;
  background-color: white;
  transform: translateY(-0.4rem);
}

/* So that the dropdown does not appear undernear the navbar */
.select-with-search .dropdown-menu {
  z-index: 9999;
}