.role-can-add:hover, .can-pass-reset:hover {
  cursor: pointer;
  color: blue !important;
}

#add-role-popup h6 {
  font-size: 1.1rem;
}

#current-sel-roles {
  margin-top: 1rem;
  width: 100%;
  align-self: flex-start;
  text-align: left;
}

#current-sel-roles ul li {
  margin-top: 0.2rem;
  background-color: rgb(221, 221, 221);
  font-size: 1rem;
  width: 40%;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border-radius: 5px;
}

#current-sel-roles ul li:hover {
  background-color: rgb(199, 199, 199);
}

.remove-role-x {
  float: right;
  margin-left: 1rem;
  color: rgb(209, 34, 34);
  font-weight: bold;
}

.remove-role-x:hover {
  cursor: pointer;
  color: red;
}

#role-add-input {
  width: fit-content;
  display: inline-block;
}

#add-role-btn {
  margin-left: 1rem;
}

#finished-add-role-btn {
  margin-top: 1rem;
}

.add-role-dropdown-group {
  display: flex;
  align-items: center;
  align-content: center;
}

.blue-btn {
  background-color: var(--site-blue-color);
  color: white;
}

.blue-btn:hover {
  filter: brightness(0.85);
}

.select-with-search button {
  transform: translateY(0) !important; 
}

.select-with-search {
  margin-left: 0.5rem;
}

.role-col-role {
  background-color: gray;
  padding-bottom: 0.1rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  text-align: center;
  background-color: var(--site-blue-color);
  filter: brightness(1.1);
  border-radius: 5px;
  color: black;
}

.role-col-role:not(:first-child) {
  margin-top: 0.5rem;
}

.audit-log-col {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: rgb(66, 66, 66);
}

.audit-log-col:hover {
  cursor: pointer;
  color: var(--site-blue-color);
}

.audit-log-scroll-area {
  overflow-y: auto;
  height: 20rem;
  width: 30rem;
  background-color: rgb(238, 238, 238);
  padding: 0.5rem;
  border: 1px solid black;
}

.audit-log-scroll-area ul li {
  margin-top: 1rem;
  border: 1px solid rgb(77, 77, 77);
  padding: 0.5rem;
  background-color: rgb(223, 223, 223);
}

#audit-log-popup .confirm-popup {
  display: flex !important;
  justify-content: flex-start !important; /* Align items to the start (left) */
  text-align: left !important;
  display: inline-block !important;
}

#finished-audit-log-btn {
  margin-top: 1rem;
}

.lock-large-img {
  font-size: 5rem;
  color: var(--site-blue-color);
}