.role-can-add:hover {
  cursor: pointer;
  color: blue !important;
}

#add-role-popup h6 {
  font-size: 1.1rem;
}

#current-sel-roles {
  margin-top: 1rem;
  width: 100%;
  align-self: flex-start;
  text-align: left;
}

#current-sel-roles ul li {
  margin-top: 0.2rem;
  background-color: rgb(221, 221, 221);
  font-size: 1rem;
  width: 40%;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border-radius: 5px;
}

#current-sel-roles ul li:hover {
  background-color: rgb(199, 199, 199);
}

.remove-role-x {
  float: right;
  margin-left: 1rem;
  color: rgb(209, 34, 34);
  font-weight: bold;
}

.remove-role-x:hover {
  cursor: pointer;
  color: red;
}

#role-add-input {
  width: fit-content;
  display: inline-block;
}

#add-role-btn {
  margin-left: 1rem;
}

#finished-add-role-btn {
  margin-top: 1rem;
}

.add-role-dropdown-group {
  display: flex;
  align-items: center;
  align-content: center;
}

.blue-btn {
  background-color: var(--site-blue-color);
  color: white;
}

.blue-btn:hover {
  filter: brightness(0.85);
}

.select-with-search button {
  transform: translateY(0) !important; 
}

.select-with-search {
  margin-left: 0.5rem;
}